bleach==3.0.2
easydict==1.9
enum34==1.1.6
h5py==2.8.0
html5lib==1.0.1
Keras==2.2.4
Markdown==3.0.1
numpy==1.16.1
opencv-python==4.1.0.25
protobuf==3.7.0
PyYAML==3.13
scipy==1.1.0
six==1.11.0
tensorflow-gpu==1.13.1
tensorboard==1.13.1
Werkzeug==0.14.1
